header{
    width: 100%;
    height: 260px;
    background-image: url(../Images/lampadaBanner.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px white;
}

h1{
    text-align: right;
    padding: 20px;
    font-size: 2.3em;
    color: white;
    text-shadow: 1px 1px 5px black,
    -1px 1px 5px black;
    margin: 0px;
    font-variant: small-caps;
}

.subtitle{
    text-align: right;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 5px black,
    -1px 1px 5px black;
    margin: 0px;
    font-variant: small-caps;
}
