body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1000px;
  min-width: 350px;
  margin: auto;
  /* height: 200vh; */
  /* background: -webkit-linear-gradient(to bottom, #403b4a, #e7e9bb);
  background: linear-gradient(to bottom, #403b4a, #e7e9bb); */
  background-image: url(./Images/backgroundImageLamps.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
