@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1000px;
  min-width: 350px;
  margin: auto;
  background-image: url(./Images/backgroundImageLamps.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Oswald', sans-serif;
}
